DATABASE_URL="postgresql://postgres:postgres@localhost:5432/retempo"

NEXT_PUBLIC_RETEMPO_API_BASE_URL="http://localhost:8787"
WEB_ORIGIN="http://localhost:3000"

ARC_RPC_URL="https://rpc.testnet.arc.network"
ARC_CHAIN_ID="5042002"
ARC_DEPLOYER_PRIVATE_KEY=""

RETEMPO_OPERATOR_ADDRESS=""
RETEMPO_SETTLEMENT_CONTRACT_ADDRESS=""
ARC_TESTNET_RETEMPO_SETTLEMENT_ADDRESS="0x8cb3816dF07Ae9F9581B2E54B279072af69Ff9Cc"

CIRCLE_API_KEY=""
CIRCLE_ENTITY_SECRET=""
