DATABASE_URL="postgresql://postgres:postgres@localhost:5432/retempo"

NEXT_PUBLIC_RETEMPO_API_BASE_URL="http://localhost:8787"
WEB_ORIGIN="http://localhost:3000"

ARC_RPC_URL="https://rpc.testnet.arc.network"
ARC_CHAIN_ID="5042002"

RETEMPO_OPERATOR_WALLET_ADDRESS=""
RETEMPO_SETTLEMENT_CONTRACT_ADDRESS=""

CIRCLE_API_KEY=""
CIRCLE_ENTITY_SECRET=""
